{% load static %}
<style type="text/css">
    .social-links-wrapper>li>img{
        margin-right: 5px;
    }
    .social-links-wrapper>li>a{
        text-decoration: none;
        transition: 0.5s ease;
        color: inherit;
    }
    .social-links-wrapper>li>a:hover{
        text-decoration: underline;
        color: green;
        transform: scale(1.2);
    }
    .nav-links-wrapper>li>a{
        text-decoration: none;
        color: inherit;
    }
    .nav-links-wrapper>li>a:hover{
        text-decoration: underline;
        color: green;
        transform: scale(1.2);
    }
</style>
<footer id="index_footer">
    <div class="container">
        <div class="row ">
            <div class="col-4 mt-5">
                <a class="navbar-brand" href="{% url 'home' %}" style="color:white">
                    <img src="{% static 'img/logo.png' %}" alt="" width="50" height="50" class="d-inline-block align-text-top">
                    LaptopFinds
                </a>
                <p>Designed and built with all the love in the world by the Nimrod Nyongesa.</p>
                <p>Code licensed MIT, docs CC by 2.0</p>
                <p>Currently v1.2.0
            </div>
            <div class="col-4 mt-5">
                <a class="navbar-brand" href="{% url 'home' %}" style="color:white">
                    Links
                </a>
                <ul class="nav-links-wrapper">
                    <li aria-current="true"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'products' %}">Buy products</a></li>
                    <li><a href="{% url 'offers' %}">Get Discounts</a></li>
                    <li><a href="{% url 'cart' %}">Shop</a></li>
                </ul>
            </div>
            <div class="col-4 mt-5">
                <a class="navbar-brand" href="{% url 'home' %}" style="color:white">
                    Social Media
                </a>
                <ul class="social-links-wrapper">
                    <li><img src="{% static 'img/LinkedIn.png' %}" style="width: 25px; height: 25px;" /><a href="https://www.linkedin.com/in/nimrod-nyongesa-walwe/">Linkedin</a></li>
                    <li><img src="{% static 'img/Twitter.png' %}" style="width: 25px; height: 25px;"/><a href="https://twitter.com/NimrodWalwe">Twitter</a></li>
                    <li><img src="{% static 'img/Github.png' %}" style="width: 25px; height: 25px;"/><a href="https://github.com/Panther-12">Github</a></li>
                    <li><img src="{% static 'img/Upwork.png' %}" style="width: 25px; height: 25px;"/><a href="https://www.upwork.com/freelancers/~0190146ea6d719274a">Upwork</a></li>
                    <li><img src="{% static 'img/Website.png' %}" style="width: 25px; height: 25px;"/><a href="http://codewithnim.me/codewithnim/">Portfolio</a></li>
                </ul>
            </div>    
        </div>
    </div>
</footer>