{% extends 'base.html' %}
{% load static %}

{% block content%}
<section>
    {% include 'messages.html' %}
    <div class="container" id="orders-wrapper"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pages">
        <li class="page-item ">
            <a class="page-link btn btn-primary active" href="{% url 'api:offer' %}+?page=1">First</a>
        </li>
        <li class="page-item "><a class="page-link btn btn-primary" href="{% url 'api:offer' %}?page=2">2</a></li>
        <li class="page-item "><a class="page-link btn btn-primary" href="{% url 'api:offer' %}?page=3">3</a></li>
        <li class="page-item "><a class="page-link btn btn-primary" href="{% url 'api:offer' %}?page=4">4</a></li>
        <li class="page-item "><a class="page-link btn btn-primary" href="{% url 'api:offer' %}?page=5">5</a></li>
        <li class="page-item ">
            <a class="page-link btn btn-primary" href="{% url 'api:offer' %}?page=6">Last</a>
        </li>
        </ul>
    </nav>
</section>
<script>
    fetch("{% url 'api:offer' %}").then(response => response.json()).then(data => {
        console.log(data)
        for (var i = 0; i < data.length; i++) {
            var new_component = `<div class="card w-100" style="height:50%">
                <div class="card-header bg-dark" style="color:white">
                Offer no: ${data[i].id}
                </div>
                <div class="card-body" id="card-body${data[i].id}">
                    <h5 class="card-title">${data[i].product}</h5>
                    <p class="card-text">Amount proposed: Ksh. ${data[i].offer_amount}</p>
                    <p class="card-text">Amount offered: Ksh. ${data[i].counter_amount}</p>
                    <span class="badge bg-success">${data[i].state?"Accepted":"Pending"}</span>
                    <p><small class="text-muted">${data[i].date}</small></p>
                    <a href="#" class="btn ${data[i].state?"btn-secondary disabled":"btn-outline-primary"}">Accept</a>
                    <a href="#" class="btn ${data[i].state?"btn-secondary disabled":"btn-outline-danger"}">Cancel</a>
                </div>
            </div>`;
            document.getElementById('orders-wrapper').insertAdjacentHTML("beforeend",new_component);
        }
    })
</script>
{% endblock %}